@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 3.5rem;

    --first-color: hsl(38, 69%, 59%);
    --text-color: hsl(38, 8%, 8%);
    --body-font: 'Space Grotesk', sans-serif;
    --biggest-font-size: 2.375rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
}

.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main {
    overflow: hidden;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 1048px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
    body {
    zoom: 1.7;
    }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
    body {
        zoom: 3.1;
    }
}